# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
List popular languages for Data Science
- Python
- R
- Julia
- SQL
- Scala
- MATLAB
- Java
- C++
- JavaScript

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:

    1. TensorFlow
    2. Numpy
    3. Pandas

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| VS Code + Python   |

#### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
print(200/60 ,"Hours")

3.3333333333333335 Hours

### Author:
Muhammad Hamza